.collectionCard {
    border-radius: 20px;
    &__img {
        width: 21.76vw;
        border-radius: 20px;
    }
    &__tag {
        padding: 0.35vw 0.6vw;
        &-text {
            font-size: 0.9vw;
        }
    }
    &__info {
        height: 4vw;
        &-text {
            font-size: 1.45vw;
            padding: 0vw;
        }
    }
    &__menuEmoji {
        transition: all 0.2s;
        position: absolute;
        left: 0;
        bottom: -50px;
        z-index: 999;
        background: #ffffff;
        border-radius: 100px 100px 20px 0px;
        font-size: 24px;
        padding: 12px;
        opacity: 0;
        pointer-events: none;
        &-item {
            & + & {
                margin-top: 0.78vw;
            }
        }
    }
}

.welcome {
    width: 100%;
    padding: 112px 67px 112px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(217, 224, 236, 0.3);
    &--dark {
        background-color: #15191e;
        .welcome__bg {
            display: block;
        }
        .welcome__info {
            &-title,
            &-text {
                color: #fff;
            }
        }
    }
    &__bg {
        display: none;
        position: absolute;
        background: conic-gradient(
            from 138.04deg at 49.21% 52.37%,
            #2442ad 0deg,
            #2240e0 105.21deg,
            #1fbdeb 203.25deg,
            #f39475 313.87deg,
            #2442ad 360deg
        );
        z-index: 1;
        opacity: 0.2;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    &__info {
        z-index: 990;
        max-width: 947px;
        &-title {
            font: 800 62px/76px "Montserrat";
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
        &-text {
            margin: 32px 0;
            font: 400 30px/48px "DM Sans";
            color: #565656;
        }
        &-btn {
            display: inline-block;
            font: 600 24px/29px "Montserrat";
            color: #fff;
            padding: 20px 40px;
            border-radius: 60px;
            transition: all 0.3s;
            background: linear-gradient(90deg, var(--c1, #004d8c), var(--c2, #0088cc) 51%, var(--c1, #004d8c))
                var(--x, 0) / 200%;
            --с1: #004d8c;
            --c2: #0088cc;
            &:hover {
                --x: 100%;
            }
        }
    }
    &__library {
        max-width: 750px;
        display: flex;
        align-items: center;
        &:hover &-item-1 {
            transform: rotateZ(-8deg) scale(1);
            right: 9%;
        }
        &:hover &-item-2 {
            transform: rotateZ(-4deg) scale(0.9);
            right: 45%;
        }
        &:hover &-item-3 {
            transform: rotateZ(8deg) scale(0.7);
            right: 86%;
        }
        &-item {
            position: relative;
            color: #fff;
            font-family: "DM Sans";
            font-weight: 700;
            display: flex;
            transition: all 0.5s;
            border-radius: 24px;
            min-width: 498px;
            height: 547px;
            &-circle {
                position: absolute;
                // background: #ffe0d4;
                // border-radius: 100%;
                // width: 125px;
                // height: 125px;
                &-circular {
                    background: #ffe0d4;
                    border-radius: 100%;
                    width: 120px;
                    height: 120px;
                    text-transform: uppercase;
                    letter-spacing: 2.4px;
                    position: relative;
                    svg {
                        display: block;
                        overflow: visible;
                        top: 16px;
                        left: 17px;
                        position: relative;
                    }
                    path {
                        fill: none;
                    }
                }
            }
            &-title {
                position: absolute;
                top: 33px;
                left: 32px;
                letter-spacing: -0.05em;
                font-size: 28px;
                line-height: 36px;
            }
            &-user {
                position: absolute;
                font-size: 20px;
                line-height: 26px;
                top: 89px;
                display: flex;
                align-items: flex-start;
                left: 32px;
                &-avatar {
                    margin-right: 15px;
                    width: 2vw;
                    border-radius: 100%;
                }
            }
            &-info {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                position: absolute;
                bottom: 29px;
                left: 32px;
                right: 32px;
                background: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(25px);
                padding: 18px 32px;
                border-radius: 12px;
                &-left {
                    &-price {
                        margin-top: 8px;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 21px;
                        position: relative;
                        padding-left: 29px;
                        &::after {
                            position: absolute;
                            content: "";
                            background: url("./../../../public/img/card/diamond.png") no-repeat center center;
                            width: 21px;
                            height: 21px;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
                &-right {
                    &-time {
                        margin-top: 8px;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 21px;
                    }
                }
            }
            &-1,
            &-2,
            &-3 {
                &:hover {
                    box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.45);
                }
            }
            &-1 {
                right: 0;
                z-index: 999;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    background-image: url("./../../../public/img/sections/welcome/label.svg");
                    width: 150px;
                    height: 150px;
                    left: -80px;
                    bottom: 150px;
                }
            }
            &-2 {
                right: 45%;
                transform: scale(0.9);
                z-index: 998;
            }
            &-3 {
                right: 90%;
                transform: scale(0.7);
                z-index: 997;
            }
        }
    }
    &__libraryMobile {
        display: none;
        &-item {
            min-width: 20.97vw;
            height: 23.06vw;
            &-user {
                &-avatar {
                    border-radius: 100%;
                }
            }
            &-1 {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    background-image: url("./../../../public/img/sections/welcome/label.svg");
                    width: 150px;
                    height: 150px;
                    left: -80px;
                    bottom: 110px;
                    transform: scale(0.8);
                }
            }
        }
    }
}

.popular {
    padding: 100px 0 100px 60px;
    background-color: #fff;
    &--nft {
        .slick-list {
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1) !important;
            border-radius: 10px;
        }
    }
    &--dark {
        background-color: #15191e;
        .popular__title {
            color: #fff;
        }
        .popular__categories {
            &-nfts,
            &-collections {
                background-color: #2b3239;
                color: #fff;
            }
        }
    }
    &__title {
        text-transform: uppercase;
        font: 800 2.19vw/51px "Montserrat";
    }
    &__categories {
        margin-top: 47px;
        &-nfts,
        &-collections {
            transition: all 0.2s;
            padding: 15px 20px;
            font: 700 24px/17px "DM Sans";
            background: rgba(220, 220, 220, 0.5);
            border-radius: 100px;
            &--active {
                background: linear-gradient(104.43deg, #004d8c 2.74%, #0088cc 96.79%) !important;
                color: #fff;
            }
            &:hover {
                opacity: 0.75;
            }
        }
        &-collections {
            margin-left: 12px;
        }
    }
    &__list {
        column-gap: 100px;
        height: 24.21vw;
    }
}

.recent {
    padding: 75px 0 60px 70px;
    background: conic-gradient(
        from 138.04deg at 49.21% 52.37%,
        #2442ad 0deg,
        #2240e0 105.21deg,
        #1fbdeb 203.25deg,
        #f39475 313.87deg,
        #2442ad 360deg
    );
    position: relative;
    &--dark {
        background: #15191E;
        .recent__categories {
            &-nfts,
            &-collections {
                color: #fff;
                background-color: #2b3239;
                &--active {
                    background-color: #fff;
                    color: #000;
                }
            }
        }
    }
    &__bg {
        position: absolute;
        background: conic-gradient(
            from 138.04deg at 49.21% 52.37%,
            #2442ad 0deg,
            #2240e0 105.21deg,
            #1fbdeb 203.25deg,
            #f39475 313.87deg,
            #2442ad 360deg
        );
        z-index: 1;
        opacity: 0.2;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    &__title {
        text-transform: uppercase;
        font: 800 42px/51px "Montserrat";
        color: #fff;
        position: relative;
        z-index: 999;
    }
    &__categories {
        position: relative;
        z-index: 999;
        margin-top: 47px;
        &-nfts,
        &-collections {
            padding: 15px 20px;
            font: 700 24px/17px "DM Sans";
            background-color: #ff4500;
            color: #fff;
            border-radius: 100px;
            transition: all 0.2s;
            &--active {
                background-color: #fff;
                color: #000;
            }
            &:hover {
                opacity: 0.75;
            }
        }
        &-collections {
            margin-left: 12px;
        }
    }
    &__all {
        position: relative;
        z-index: 999;
        text-align: center;
        &-btn {
            font: 600 20px/24px "Montserrat";
            color: #fff;
            letter-spacing: 0.01em;
            background: #ff4500;
            border-radius: 60px;
            padding: 20px 40px;
            margin-top: 62px;
            transition: all 0.2s;
            display: inline-block;
            &:hover {
                background-color: #ff6c35;
            }
        }
    }
}

@media (max-width: 768px) {
    .popular {
        padding: 49px 0 55px 16px;
        &__title {
            font-size: 32px;
            line-height: 39px;
        }
        &__categories {
            margin-bottom: 30px;
            &-nfts {
                font-size: 20px;
            }
            &-collections {
                font-size: 20px;
            }
        }
        &__list {
            height: 20px !important;
        }
    }
    .recent {
        &__categories {
            margin-bottom: 30px;
        }
    }
    .collectionCard {
        &__img {
            width: 35vw !important;
            height: 35vw !important;
        }
        &__tag {
            padding: 1vw 1.6vw !important;
            &-text {
                font-size: 2vw !important;
            }
        }
        &__info {
            height: 6vw !important;
            &-text {
                font-size: 2.4vw !important;
                padding: 1vw !important;
            }
        }
        &__menuEmoji {
            transition: all 0.2s;
            position: absolute;
            left: 0;
            bottom: -50px;
            z-index: 999;
            background: #ffffff;
            border-radius: 100px 100px 20px 0px;
            font-size: 2.30vw !important;
            padding: 1.43vw !important;
            opacity: 0;
            pointer-events: none;
            &-item {
                & + & {
                    margin-top: 0.78vw;
                }
            }
        }
    }
    .card {
        max-width: 253px;
        padding: 13px 13px 24px 13px;
        border-radius: 13px;
        height: unset;
        &__photo {
            border-radius: 11px;
            height: 30vw;
        }
        &__info {
            flex-direction: column;
            &-left {
                width: 100%;
                &-title {
                    font-size: 20px;
                    line-height: 19px;
                    padding: 19px 0 12px;
                }
                &-price {
                    font-size: 18px;
                    line-height: 23px;
                    img {
                        margin-right: 6px;
                        width: 18px;
                    }
                }
            }
            &-right {
                &-user {
                    padding: 15px 0;
                    justify-content: flex-start;
                    &-avatar {
                        width: 20px;
                    }
                    &-name {
                        font-size: 14px;
                        line-height: 18px;
                        margin-left: 10px;
                    }
                }
                &-emoji {
                    justify-content: flex-start;
                    &-item {
                        &-light,
                        &-dark {
                            width: 30px;
                            border-radius: 30px;
                            font-size: 1.63vw;
                            padding: 5px 4px;
                            span {
                                margin-top: 2px;
                                line-height: 16px;
                            }
                        }
                    }
                }
            }
        }
        &__menuEmoji {
            transition: all 0.2s;
            position: absolute;
            left: 0;
            bottom: -50px;
            z-index: 999;
            background: #ffffff;
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
            border-radius: 100px 100px 20px 0px;
            font-size: 3.2vw; // 26px
            padding: 2.2vw;
            opacity: 0;
            pointer-events: none;
            &-item {
                & + & {
                    margin-top: 10px;
                }
                transition: all 0.2s;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
    .recent {
        padding: 44px 0 44px 16px;
        &__title {
            font-weight: 32px;
            line-height: 39px;
        }
        &__categories {
            &-nfts {
                font-size: 20px;
            }
            &-collections {
                font-size: 20px;
            }
        }
        &__all {
            max-width: 342px;
            &-btn {
                margin-top: 45px;
                width: 100%;
            }
        }
    }
}

@media (min-width: 1441px) and (max-width: 1900px) {
    .welcome {
        &__info {
            margin-right: 90px;
            &-title {
                font-size: 3vw;
                line-height: 3.5vw;
            }
            &-text {
                font-size: 1.5vw;
                line-height: 2.1vw;
            }
            &-btn {
                font-size: 1.3vw;
            }
        }
        &__library {
            display: none;
        }
        &__libraryMobile {
            display: block;
            max-width: 37vw;
            display: flex;
            align-items: center;
            &:hover &-item-1 {
                transform: rotateZ(-10deg) scale(1);
                right: 3%;
            }
            &:hover &-item-2 {
                transform: rotateZ(-4deg) scale(0.9);
                right: 45%;
            }
            &:hover &-item-3 {
                transform: rotateZ(8deg) scale(0.7);
                right: 85%;
            }
            &-item {
                position: relative;
                color: #fff;
                font-family: "DM Sans";
                font-weight: 700;
                display: flex;
                transition: all 0.5s;
                border-radius: 24px;
                &-bg {
                    max-width: 24vw;
                }
                &-title {
                    position: absolute;
                    top: 10%;
                    left: 10%;
                    letter-spacing: -0.05em;
                    font-size: 18px;
                    line-height: 16px;
                }
                &-user {
                    position: absolute;
                    font-size: 13px;
                    line-height: 18px;
                    top: 22%;
                    display: flex;
                    align-items: flex-start;
                    left: 10%;
                    &-avatar {
                        margin-right: 12px;
                        width: 28px;
                    }
                }
                &-info {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 8px;
                    position: absolute;
                    bottom: 7%;
                    left: 7%;
                    right: 7%;
                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(25px);
                    padding: 6% 9%;
                    border-radius: 12px;
                    &-left {
                        &-price {
                            margin-top: 16px;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 12px;
                            position: relative;
                            padding-left: 29px;
                            &::after {
                                position: absolute;
                                content: "";
                                background: url("./../../../public/img/card/diamond.png") no-repeat center center;
                                width: 21px;
                                height: 21px;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                    &-right {
                        &-time {
                            margin-top: 16px;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 12px;
                        }
                    }
                }
                &-1,
                &-2,
                &-3 {
                    &:hover {
                        box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.45);
                    }
                }
                &-1 {
                    right: 0;
                    z-index: 999;
                }
                &-2 {
                    right: 45%;
                    transform: scale(0.9);
                    z-index: 998;
                }
                &-3 {
                    right: 90%;
                    transform: scale(0.7);
                    z-index: 997;
                }
            }
        }
    }
}

@media (min-width: 1241px) and (max-width: 1440px) {
    .welcome {
        &__info {
            margin-right: 130px;
            &-title {
                font-size: 3vw;
                line-height: 3.5vw;
            }
            &-text {
                font-size: 1.5vw;
                line-height: 2.1vw;
            }
            &-btn {
                font-size: 1.3vw;
            }
        }
        &__library {
            display: none;
        }
        &__libraryMobile {
            display: block;
            max-width: 31.8vw;
            display: flex;
            align-items: center;
            &:hover &-item-1 {
                transform: rotateZ(-10deg) scale(1);
                right: 3%;
            }
            &:hover &-item-2 {
                transform: rotateZ(-4deg) scale(0.9);
                right: 45%;
            }
            &:hover &-item-3 {
                transform: rotateZ(8deg) scale(0.7);
                right: 85%;
            }
            &-item {
                position: relative;
                color: #fff;
                font-family: "DM Sans";
                font-weight: 700;
                display: flex;
                transition: all 0.5s;
                border-radius: 24px;
                &-bg {
                    max-width: 21vw;
                }
                &-title {
                    position: absolute;
                    top: 10%;
                    left: 10%;
                    letter-spacing: -0.05em;
                    font-size: 18px;
                    line-height: 16px;
                }
                &-user {
                    position: absolute;
                    font-size: 13px;
                    line-height: 18px;
                    top: 22%;
                    display: flex;
                    align-items: flex-start;
                    left: 10%;
                    &-avatar {
                        margin-right: 12px;
                        width: 28px;
                    }
                }
                &-info {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 8px;
                    position: absolute;
                    bottom: 7%;
                    left: 7%;
                    right: 7%;
                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(25px);
                    padding: 6% 9%;
                    border-radius: 12px;
                    &-left {
                        &-price {
                            margin-top: 16px;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 12px;
                            position: relative;
                            padding-left: 29px;
                            &::after {
                                position: absolute;
                                content: "";
                                background: url("./../../../public/img/card/diamond.png") no-repeat center center;
                                width: 21px;
                                height: 21px;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                    &-right {
                        &-time {
                            margin-top: 16px;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 12px;
                        }
                    }
                }
                &-1,
                &-2,
                &-3 {
                    &:hover {
                        box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.45);
                    }
                }
                &-1 {
                    right: 0;
                    z-index: 999;
                    &::after {
                        bottom: 22%;
                        transform: scale(0.6);
                    }
                }
                &-2 {
                    right: 45%;
                    transform: scale(0.9);
                    z-index: 998;
                }
                &-3 {
                    right: 90%;
                    transform: scale(0.7);
                    z-index: 997;
                }
            }
        }
    }
}

@media (min-width: 1001px) and (max-width: 1240px) {
    .welcome {
        &__info {
            padding-right: 20px;
            &-title {
                font-size: 4vw;
                line-height: 5vw;
                margin-right: 20px;
            }
            &-text {
                font-size: 2vw;
                line-height: 3vw;
                margin-right: 20px;
            }
            &-btn {
                font-size: 1.6vw;
            }
        }
        &__library {
            display: none;
        }
        &__libraryMobile {
            display: block;
            max-width: 390px;
            display: flex;
            align-items: center;
            &:hover &-item-1 {
                transform: rotateZ(-10deg) scale(1);
                right: 3%;
            }
            &:hover &-item-2 {
                transform: rotateZ(-4deg) scale(0.9);
                right: 45%;
            }
            &:hover &-item-3 {
                transform: rotateZ(8deg) scale(0.7);
                right: 85%;
            }
            &-item {
                position: relative;
                color: #fff;
                font-family: "DM Sans";
                font-weight: 700;
                display: flex;
                transition: all 0.5s;
                border-radius: 10px;
                &-bg {
                    max-width: 260px;
                }
                &-title {
                    position: absolute;
                    top: 10%;
                    left: 10%;
                    letter-spacing: -0.05em;
                    font-size: 14px;
                    line-height: 16px;
                }
                &-user {
                    position: absolute;
                    font-size: 10px;
                    line-height: 12px;
                    top: 22%;
                    display: flex;
                    align-items: flex-start;
                    left: 10%;
                    &-avatar {
                        margin-right: 9px;
                        width: 22px;
                    }
                }
                &-info {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    font-weight: 500;
                    font-size: 8px;
                    line-height: 8px;
                    position: absolute;
                    bottom: 7%;
                    left: 7%;
                    right: 7%;
                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(25px);
                    padding: 18px 32px;
                    border-radius: 12px;
                    &-left {
                        &-price {
                            margin-top: 16px;
                            font-weight: 700;
                            font-size: 9px;
                            line-height: 12px;
                            position: relative;
                            padding-left: 29px;
                            &::after {
                                position: absolute;
                                content: "";
                                background: url("./../../../public/img/card/diamond.png") no-repeat center center;
                                width: 21px;
                                height: 21px;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                    &-right {
                        &-time {
                            margin-top: 16px;
                            font-weight: 700;
                            font-size: 9px;
                            line-height: 12px;
                        }
                    }
                }
                &-1,
                &-2,
                &-3 {
                    &:hover {
                        box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.45);
                    }
                }
                &-1 {
                    right: 0;
                    z-index: 999;
                    &::after {
                        bottom: 22%;
                        transform: scale(0.6);
                    }
                }
                &-2 {
                    right: 45%;
                    transform: scale(0.9);
                    z-index: 998;
                }
                &-3 {
                    right: 90%;
                    transform: scale(0.7);
                    z-index: 997;
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1000px) {
    .welcome {
        padding: 43px 26px;
        &__info {
            padding-right: 20px;
            &-title {
                font-size: 4.7vw;
                line-height: 5.2vw;
            }
            &-text {
                font-size: 2.5vw;
                line-height: 3.8vw;
                margin-right: 20px;
            }
            &-btn {
                font-size: 2.5vw;
            }
        }
        &__library {
            display: none;
        }
        &__libraryMobile {
            display: block;
            max-width: 385px;
            display: flex;
            align-items: center;
            &:hover &-item-1 {
                transform: rotateZ(-10deg) scale(1);
                right: 3%;
            }
            &:hover &-item-2 {
                transform: rotateZ(-4deg) scale(0.9);
                right: 45%;
            }
            &:hover &-item-3 {
                transform: rotateZ(8deg) scale(0.7);
                right: 85%;
            }
            &-item {
                position: relative;
                color: #fff;
                font-family: "DM Sans";
                font-weight: 700;
                display: flex;
                transition: all 0.5s;
                border-radius: 10px;
                min-width: 25vw;
                height: 27vw;
                &-bg {
                    max-width: 260px;
                }
                &-title {
                    position: absolute;
                    top: 10%;
                    left: 10%;
                    letter-spacing: -0.05em;
                    font-size: 14px;
                    line-height: 16px;
                }
                &-user {
                    position: absolute;
                    font-size: 10px;
                    line-height: 12px;
                    top: 22%;
                    display: flex;
                    align-items: flex-start;
                    left: 10%;
                    &-avatar {
                        margin-right: 9px;
                        width: 22px;
                    }
                }
                &-info {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    font-weight: 500;
                    font-size: 8px;
                    line-height: 8px;
                    position: absolute;
                    bottom: 7%;
                    left: 7%;
                    right: 7%;
                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(25px);
                    padding: 18px 32px;
                    border-radius: 12px;
                    &-left {
                        &-price {
                            margin-top: 16px;
                            font-weight: 700;
                            font-size: 9px;
                            line-height: 12px;
                            position: relative;
                            padding-left: 29px;
                            &::after {
                                position: absolute;
                                content: "";
                                background: url("./../../../public/img/card/diamond.png") no-repeat center center;
                                width: 21px;
                                height: 21px;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                    &-right {
                        &-time {
                            margin-top: 16px;
                            font-weight: 700;
                            font-size: 9px;
                            line-height: 12px;
                        }
                    }
                }
                &-1,
                &-2,
                &-3 {
                    &:hover {
                        box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.45);
                    }
                }
                &-1 {
                    right: 0;
                    z-index: 999;
                    &::after {
                        bottom: 22%;
                        transform: scale(0.5);
                    }
                }
                &-2 {
                    right: 45%;
                    transform: scale(0.9);
                    z-index: 998;
                }
                &-3 {
                    right: 90%;
                    transform: scale(0.7);
                    z-index: 997;
                }
            }
        }
    }
    .popular,
    .recent {
        &__all-btn {
            margin-top: 42px;
        }
        padding: 43px 26px;
    }
}

@media (max-width: 768px) {
    .welcome {
        padding: 43px 16px;
        flex-direction: column;
        &__info {
            &-title {
                font-size: 6vw;
                line-height: 7vw;
            }
            &-text {
                font-size: 3.6vw;
                line-height: 6vw;
                margin: 20px 0;
            }
            &-btn {
                font-size: 20px;
                line-height: 24px;
            }
        }
        &__library {
            display: none;
        }
        &__libraryMobile {
            display: block;
            margin-top: 46px;
            max-width: 400px;
            display: flex;
            align-items: center;
            &:hover &-item-1 {
                transform: rotateZ(-10deg) scale(1);
                right: 3%;
            }
            &:hover &-item-2 {
                transform: rotateZ(-4deg) scale(0.9);
                right: 45%;
            }
            &:hover &-item-3 {
                transform: rotateZ(8deg) scale(0.7);
                right: 85%;
            }
            &-item {
                position: relative;
                color: #fff;
                font-family: "DM Sans";
                font-weight: 700;
                display: flex;
                transition: all 0.5s;
                border-radius: 10px;
                min-width: 265px;
                height: 290px;
                &-bg {
                    max-width: 260px;
                }
                &-title {
                    position: absolute;
                    top: 10%;
                    left: 10%;
                    letter-spacing: -0.05em;
                    font-size: 14px;
                    line-height: 16px;
                }
                &-user {
                    position: absolute;
                    font-size: 10px;
                    line-height: 12px;
                    top: 22%;
                    display: flex;
                    align-items: flex-start;
                    left: 10%;
                    &-avatar {
                        margin-right: 9px;
                        width: 22px;
                    }
                }
                &-info {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    font-weight: 500;
                    font-size: 8px;
                    line-height: 8px;
                    position: absolute;
                    bottom: 7%;
                    left: 7%;
                    right: 7%;
                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(25px);
                    padding: 18px 32px;
                    border-radius: 12px;
                    &-left {
                        &-price {
                            margin-top: 16px;
                            font-weight: 700;
                            font-size: 9px;
                            line-height: 12px;
                            position: relative;
                            padding-left: 29px;
                            &::after {
                                position: absolute;
                                content: "";
                                background: url("./../../../public/img/card/diamond.png") no-repeat center center;
                                width: 21px;
                                height: 21px;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                    &-right {
                        &-time {
                            margin-top: 16px;
                            font-weight: 700;
                            font-size: 9px;
                            line-height: 12px;
                        }
                    }
                }
                &-1,
                &-2,
                &-3 {
                    &:hover {
                        box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.45);
                    }
                }
                &-1 {
                    right: 0;
                    z-index: 999;
                    &::after {
                        bottom: 22%;
                        transform: scale(0.5);
                    }
                }
                &-2 {
                    right: 45%;
                    transform: scale(0.9);
                    z-index: 998;
                }
                &-3 {
                    right: 90%;
                    transform: scale(0.7);
                    z-index: 997;
                }
            }
        }
    }
}

@media (max-width: 520px) {
    .welcome {
        padding: 43px 16px;
        flex-direction: column;
        &__info {
            &-title {
                font-size: 32px;
                line-height: 39px;
            }
            &-text {
                font-size: 20px;
                line-height: 32px;
                margin: 20px 0;
            }
            &-btn {
                font-size: 18px;
                line-height: 22px;
                width: 100%;
            }
        }
        &__library {
            display: none;
        }
        &__libraryMobile {
            display: block;
            margin-top: 46px;
            max-width: 350px;
            display: flex;
            align-items: center;
            margin-left: 35px;
            &:hover &-item-1 {
                transform: rotateZ(-10deg) scale(1);
                right: 3%;
            }
            &:hover &-item-2 {
                transform: rotateZ(-4deg) scale(0.9);
                right: 45%;
            }
            &:hover &-item-3 {
                transform: rotateZ(8deg) scale(0.7);
                right: 85%;
            }
            &-item {
                position: relative;
                color: #fff;
                font-family: "DM Sans";
                font-weight: 700;
                display: flex;
                transition: all 0.5s;
                border-radius: 10px;
                min-width: 215px;
                height: 240px;
                &-title {
                    position: absolute;
                    top: 10%;
                    left: 10%;
                    letter-spacing: -0.05em;
                    font-size: 12px;
                    line-height: 16px;
                }
                &-user {
                    position: absolute;
                    font-size: 8px;
                    line-height: 11px;
                    top: 22%;
                    display: flex;
                    align-items: flex-start;
                    left: 10%;
                    &-avatar {
                        margin-right: 7px;
                        width: 17px;
                    }
                }
                &-info {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    font-weight: 500;
                    font-size: 5px;
                    line-height: 7px;
                    position: absolute;
                    bottom: 7%;
                    left: 7%;
                    right: 7%;
                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(25px);
                    padding: 18px 32px;
                    border-radius: 12px;
                    &-left {
                        &-price {
                            margin-top: 8px;
                            font-weight: 700;
                            font-size: 7px;
                            line-height: 9px;
                            position: relative;
                            padding-left: 29px;
                            &::after {
                                position: absolute;
                                content: "";
                                background: url("./../../../public/img/card/diamond.png") no-repeat center center;
                                width: 21px;
                                height: 21px;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                    &-right {
                        &-time {
                            margin-top: 8px;
                            font-weight: 700;
                            font-size: 7px;
                            line-height: 9px;
                        }
                    }
                }
                &-1,
                &-2,
                &-3 {
                    &:hover {
                        box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.45);
                    }
                }
                &-1 {
                    right: 0;
                    z-index: 999;
                }
                &-2 {
                    right: 45%;
                    transform: scale(0.9);
                    z-index: 998;
                }
                &-3 {
                    right: 90%;
                    transform: scale(0.7);
                    z-index: 997;
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1440px) {
    .popular,
    .recent {
        &__title {
            font-size: 30px;
        }
        &__categories {
            margin-top: 30px;
            &-nfts,
            &-collections {
                font-size: 18px;
                padding: 12px 17px;
            }
        }
    }
    .recent {
        &__all {
            &-btn {
                font-size: 18px;
                padding: 14px 24px;
            }
        }
    }
}

@media (max-width: 530px) {
    .collectionCard {
        &__img {
            width: 53vw !important;
            height: 53vw !important;
        }
        &__tag {
            padding: 1.8vw 2.5vw !important;
            & > p {
                font-size: 2.6vw !important;
            }
        }
        &__info {
            height: 10vw !important;
            padding: 0 !important;
            &-text {
                font-size: 4vw !important;
            }
        }
        &__emoji {
        position: absolute;
        top: 2vw;
        right: 2vw;
        display: flex;
        column-gap: 0.26vw;
        &-item {
            &-light,
            &-dark {
                width: 3.8vw;
                text-align: center;
                border-radius: 100px;
                padding: 0.6vw 0;
                font-size: 2.2vw;
                transition: all 0.2s;
                span {
                    margin-top: 1vw;
                    display: block;
                    color: #000;
                    font-family: "DM Sans";
                    font-weight: 400;
                    line-height: 0.94vw;
                    letter-spacing: -0.03em;
                }
            }
        }
        } 
        &__menuEmoji {
            transition: all 0.2s;
            position: absolute;
            left: 0;
            bottom: -50px;
            z-index: 999;
            background: #ffffff;
            border-radius: 100px 100px 20px 0px;
            font-size: 4vw !important;
            padding: 1.43vw !important;
            opacity: 0;
            pointer-events: none;
            &-item {
                & + & {
                    margin-top: 0.78vw;
                }
            }
        }
    }
    .card {
        &__info {
            &-right {
                &-emoji {
                    &-item {
                        &-light,
                        &-dark {
                            width: 30px;
                            border-radius: 30px;
                            font-size: 2.63vw;
                            padding: 5px 4px;
                            span {
                                margin-top: 2px;
                                line-height: 16px;
                            }
                        }
                    }
                }
            }
        }
        &__menuEmoji {
            transition: all 0.2s;
            position: absolute;
            left: 0;
            bottom: -50px;
            z-index: 999;
            background: #ffffff;
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
            border-radius: 100px 100px 20px 0px;
            font-size: 4.5vw; // 26px
            padding: 2vw;
            opacity: 0;
            pointer-events: none;
            &-item {
                & + & {
                    margin-top: 10px;
                }
                transition: all 0.2s;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}