.myBanner {
    padding: 5.79vw 0 6.57vw 0;
    cursor: pointer;
    position: relative;
    &--mobileLoad {
        cursor: pointer;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        opacity: 0;
    }
    &--extra {
        position: absolute;
        opacity: 1;
        transition: all .2s;
        cursor: pointer;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(#fff, 0.8);
        border: 0.36vw dashed rgba(#fff, .8);
        background-color: rgba(#000, .6);
        font: 400 8.89vw/100% "Montserrat";
    }
    &--dark {
        background: #132331;
        .myBanner__download {
            background: rgba(255, 255, 255, 0.2);
            color: #fff;
            &-title {
                color: #fff;
            }
        }
    }
    &__download {
        position: relative;
        left: 54%;
        background: rgba(255, 255, 255, 0.61);
        backdrop-filter: blur(25px);
        border-radius: 0.56vw;
        padding: 0.93vw 4.63vw;
        display: inline-block;
        text-align: center;
        &-img,
        &-title {
            margin-bottom: 0.23vw;
        }
        &-img {
            width: 2.31vw;
        }
        &-title {
            font: 600 0.74vw/0.93vw "Montserrat";
            color: #00293e;
        }
        &-text {
            font: 400 0.65vw/0.79vw "Montserrat";
        }
    }
}

.myContent {
    background-color: #f4f6fa;
    display: flex;
    column-gap: 0.93vw;
    padding: 2.78vw;
    align-items: flex-start;
    &--mobileLoad {
        cursor: pointer;
        border-radius: 100%;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        opacity: 0;
    }
    &--dark {
        background-color: #15191e;
        color: #fff;
        .myContent__left {
            &-user {
                background-color: #1c2026;
                &-edit {
                    background: #303942;
                }
            }
            &-owner,
            &-other {
                background-color: #1c2026;
            }
            &-other {
                &-box-title {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
        .myContent__right {
            &-window,
            &-sort {
                &-btn {
                    background-color: #23292f;
                }
            }
            &-settings-search-input {
                background-color: #1c2026;
                border: 2px solid #596577;
            }
            &-settings-box-price {
                background-color: #23292f;
            }
        }
    }
    &__left {
        width: 22.92vw;
        display: flex;
        flex-direction: column;
        row-gap: 1.2vw;
        position: relative;
        bottom: 15.74vw;
        &-user {
            text-align: center;
            background: #ffffff;
            border-radius: 0.93vw;
            padding: 2.31vw 1.02vw 1.48vw 1.02vw;
            &-box {
                position: relative;
                display: inline-block;
                width: 7.96vw;
                height:  7.96vw;
                border-radius: 100%;
            }
            &-avatar {
                cursor: pointer;
                border-radius: 100%;
                width: 100%;
                height: 100%;
                display: block;
                &--extra {
                    opacity: 0;
                    transition: all .2s;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: rgba(#fff, 0.8);
                    border: 0.36vw dashed rgba(#fff, .8);
                    background-color: rgba(#000, .6);
                    border-radius: 100%;
                    font: 400 5.28vw/100% "Montserrat";
                }
            }
            &-name {
                font: 700 1.11vw/1.44vw "DM Sans";
                margin: 1.02vw 0;
            }
            &-social {
                display: flex;
                justify-content: center;
                column-gap: 0.46vw;
                a {
                    img {
                        width: 2.31vw;
                        transition: all 0.2s;
                        &:hover {
                            filter: brightness(130%);
                        }
                    }
                }
            }
            &-text {
                font: 400 0.93vw/1.2vw "DM Sans";
                margin: 1.16vw 0;
            }
            &-edit {
                padding: 0.93vw 1.39vw;
                background: rgba(220, 220, 220, 0.5);
                border-radius: 100px;
                font: 700 0.83vw/0.79vw "DM Sans";
                transition: all 0.2s;
                &:hover {
                    opacity: 0.75;
                }
            }
        }
        &-owner,
        &-other {
            background: #ffffff;
            border-radius: 0.93vw;
            padding: 1.6vw 2.08vw 1.53vw 2.08vw;
            &-title {
                font: 700 1.11vw/1.39vw "Montserrat";
            }
        }
        &-owner {
            position: relative;
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
                opacity: 0.75;
            }
            &-title {
                margin-bottom: 0.83vw;
            }
            &-left {
                display: flex;
                align-items: center;
                column-gap: 0.93vw;
                font: 700 1.11vw/1.39vw "DM Sans";
                &-avatar {
                    width: 3.24vw;
                }
            }
            &-arrow {
                position: absolute;
                right: 1.25vw;
                top: 60%;
                width: 0.51vw;
            }
        }
        &-other {
            &-title {
                margin-bottom: 1.11vw;
            }
            &-box {
                position: relative;
                &-title {
                    font: 500 0.93vw/1.2vw "DM Sans";
                    color: rgba(#000, 0.5);
                }
                &-text {
                    font: 500 1.11vw/1.39vw "DM Sans";
                    margin-top: 0.46vw;
                }
                &-img {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 3.01vw;
                    transition: all 0.2s;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        row-gap: 1.62vw;
        width: 70.6vw;
        &-window,
        &-sort {
            display: flex;
            column-gap: 0.69vw;
            &-btn {
                font: 700 0.93vw/0.79vw "DM Sans";
                background: rgba(220, 220, 220, 0.5);
                border-radius: 100px;
                padding: 0.69vw 0.93vw;
                &--active {
                    background: linear-gradient(104.43deg, #004d8c 2.74%, #0088cc 96.79%) !important;
                    color: #fff;
                }
                transition: all 0.2s;
                &:hover {
                    opacity: 0.75;
                }
            }
        }
        &-settings {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-search {
                position: relative;
                width: 23.47vw;
                height: 2.69vw;
                &-input {
                    width: 100%;
                    height: 100%;
                    padding: 0 1.39vw;
                    border: 2px solid #efefef;
                    border-radius: 100px;
                    font: 500 0.74vw/0.97vw "DM Sans", sans-serif;
                    letter-spacing: 0.04em;
                    &::placeholder {
                        color: #757575;
                    }
                }
                &-img {
                    position: absolute;
                    right: 0.93vw;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1.11vw;
                }
            }
            &-box {
                display: flex;
                column-gap: 0.93vw;
                &-price {
                    background: rgba(220, 220, 220, 0.5);
                    border-radius: 100px;
                    font: 700 0.83vw/0.79vw "DM Sans";
                    padding: 0.93vw 1.39vw;
                    display: flex;
                    align-items: center;
                    column-gap: 0.46vw;
                    transition: all 0.2s;
                    position: relative;
                    img {
                        width: 0.8vw;
                        transition: all 0.2s;
                    }
                }
                &-add {
                    color: #fff;
                    font: 700 0.93vw/100% "Montserrat";
                    padding: 0.88vw 4.63vw;
                    text-transform: uppercase;
                    background: linear-gradient(90deg, var(--c1, #004d8c), var(--c2, #0088cc) 51%, var(--c1, #004d8c))
                        var(--x, 0) / 200%;
                    --с1: #004d8c;
                    --c2: #0088cc;
                    border-radius: 60px;
                    transition: all 0.2s;
                    &:hover {
                        --x: 100%;
                    }
                }
            }
            &-boxMobile {
                display: none;
            }
        }
        &-items {
            display: flex;
            gap: 0.83vw;
            flex-wrap: wrap;
            &-zero {
                border: 0.4vw dashed #ccc;
                width: 100%;
                text-align: center;
                padding: 5.21vw 0.5vw;
                font: 600 5vw/100% 'DM Sans';
                color: #ccc;
            }
        }
    }
}

.editProfile {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &--dark {
        .editProfile__box {
            input, textarea {
                background: #272E37;
                border-color: #373F4A;
            }
        }
    }
    &__box {
        background-color: #fff;
        padding: 30px;
        border-radius: 20px;
        position: relative;
        width: 360px;
        & > h1 {
            font: 600 24px/100% "Montserrat";
            margin-bottom: 20px;
        }
        div {
            margin-bottom: 16px;
        }
        input, textarea {
            border-radius: 20px;
            width: 100%;
            border: 2px solid #e3e3e3;
            padding: 10px 42px;
            font: 400 14px/100% "DM Sans", sans-serif;
            &:focus {
                border: 2px solid #bfbfbf;
            }
        }
        textarea {
            border-radius: 14px;
            resize: none;
            height: 80px;
            padding: 14px 16px;
        }
        &-name {
            & > div {
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    background-image: url('./../../../public/img/editProfile/user.svg');
                    width: 24px;
                    height: 24px;
                    left: 14px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        &-social {
            & > ul > li {
                margin-top: 6px;
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    left: 12px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 24px;
                    height: 24px;
                    background-size: 24px 24px;
                    background-repeat: no-repeat;
                }
                &:nth-child(1):after {
                    background-image: url("./../../../public/img/sections/myNFT/vk.svg");
                }
                &:nth-child(2):after {
                    background-image: url("./../../../public/img/sections/myNFT/telegram.svg");
                }
                &:nth-child(3):after {
                    background-image: url("./../../../public/img/sections/myNFT/twitter.svg");
                }
                &:nth-child(4):after {
                    background-image: url("./../../../public/img/sections/myNFT/reddit.svg");
                }
                &:nth-child(5):after {
                    background-image: url("./../../../public/img/sections/myNFT/discord.svg");
                }
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        &-email {
            &-confirmed {
                filter: invert(48%) sepia(85%) saturate(1080%) hue-rotate(70deg) brightness(109%) contrast(105%);
            }
            & > div {
                position: relative;
                & > img {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 14px;
                    width: 32px;
                }
                &::after {
                    position: absolute;
                    content: "";
                    background-image: url('./../../../public/img/editProfile/email.svg');
                    width: 24px;
                    height: 24px;
                    left: 14px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        &-save {
            transition: all 0.3s;
            background: linear-gradient(90deg, var(--c1, #004d8c), var(--c2, #0088cc) 51%, var(--c1, #004d8c))
                var(--x, 0) / 200%;
            --с1: #004d8c;
            --c2: #0088cc;
            width: 100%;
            font: 600 18px/100% "Montserrat";
            color: #fff;
            padding: 16px;
            border-radius: 100px;
            &:hover {
                --x: 100%;
            }
        }
        label {
            font: 500 16px/100% "DM Sans";
            margin: 0 0 8px 14px;
            display: block;
        }
        & > img {
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
            width: 18px;
        }
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    .filters {
        width: 22.92vw;
        background: #fff;
        border-radius: 0.93vw;
        padding: 1.99vw 1.25vw;
        &__status,
        &__quantity,
        &__price,
        &__rarity,
        &__emotional,
        &__category {
            margin-bottom: 2.31vw;
            font: 400 0.83vw/1.06vw "DM Sans";
            div {
                margin-bottom: 0.93vw;
                position: relative;
                h6 {
                    font: 700 0.93vw/1.2vw "DM Sans";
                    cursor: pointer;
                }
                img {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        &__price {
            &-content {
                display: flex;
                justify-content: space-between;
                input[type="number"] {
                    background: transparent;
                    border: 1px solid #d9d9d9;
                    border-radius: 50px;
                    padding: 0.46vw 0.69vw;
                    width: 9.95vw;
                    height: 2.31vw;
                }
                p {
                    font: 700 0.65vw/0.83vw "DM Sans";
                    margin-bottom: 0.56vw;
                }
            }
        }
        &__apply {
            font: 400 0.74vw/0.93vw "Montserrat";
            color: #fff;
            border-radius: 2.78vw;
            padding: 0.93vw;
            width: 100%;
            transition: all 0.3s;
            background: linear-gradient(90deg, var(--c1, #004d8c), var(--c2, #0088cc) 51%, var(--c1, #004d8c))
                var(--x, 0) / 200%;
            --с1: #004d8c;
            --c2: #0088cc;
            &:hover {
                --x: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .myBanner {
        background: linear-gradient(105.78deg, #2442ad 0%, #2240e0 35.44%, #1fbdeb 67.05%, #f39475 99.49%);
        padding: 80px 16px 305px 16px;
        text-align: center;
        &__download {
            left: unset;
            border-radius: 12px;
            padding: 20px 63px;
            text-align: center;
            &-img,
            &-title {
                margin-bottom: 5px;
            }
            &-img {
                width: 50px;
                height: 42px;
            }
            &-title {
                font: 600 16px/20px "Montserrat";
                color: #00293e;
            }
            &-text {
                font: 400 14px/17px "Montserrat";
            }
        }
    }
    .myContent {
        padding: 0 16px 35px 16px;
        align-items: center;
        flex-direction: column;
        &__left {
            width: unset;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            position: relative;
            .filters {
                margin-top: 450px;
            }
            &-user {
                border-radius: 20px;
                padding: 26px;
                position: relative;
                bottom: 160px;
                &-box {
                    width: 170px;
                    height: 170px;
                }
                &-avatar {
                    width: 100%;
                    height: 100%;
                    &--extra {
                        border: 5px dashed rgba(#fff, .8);
                        font: 400 94px/100% "Montserrat";
                    }
                }
                &-name {
                    font: 700 24px/31px "DM Sans";
                    margin: 21px 0;
                }
                &-social {
                    column-gap: 10px;
                    a {
                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
                &-text {
                    font: 400 16px/21px "DM Sans";
                    margin: 23px 0;
                }
                &-edit {
                    padding: 20px 30px;
                    border-radius: 100px;
                    font: 700 18px/17px "DM Sans";
                }
            }
            &-owner,
            &-other {
                border-radius: 20px;
                padding: 16px;
                &-title {
                    font: 700 20px/100% "Montserrat";
                }
            }
            &-owner {
                &-title {
                    margin-bottom: 16px;
                }
                &-left {
                    display: flex;
                    align-items: center;
                    column-gap: 12px;
                    font: 700 18px/100% "DM Sans";
                    &-avatar {
                        width: 50px;
                    }
                }
                &-arrow {
                    position: absolute;
                    right: 20px;
                    top: 60%;
                    width: 10px;
                }
            }
            &-other {
                &-title {
                    margin-bottom: 16px;
                }
                &-box {
                    position: relative;
                    &-title {
                        font: 500 14px/100% "DM Sans";
                        color: rgba(#000, 0.5);
                    }
                    &-text {
                        font: 500 15px/100% "DM Sans";
                        margin-top: 6px;
                    }
                    &-img {
                        width: 32px;
                    }
                }
            }
        }
        &__right {
            margin-top: -200px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            width: unset;
            position: relative;
            &-window,
            &-sort {
                column-gap: 12px;
                justify-content: center;
                &-btn {
                    font: 700 16px/17px "DM Sans";
                    padding: 12px 20px;
                }
            }
            &-sort {
                display: none;
            }
            &-settings {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                row-gap: 20px;
                &-search {
                    position: relative;
                    width: 100%;
                    height: 58px;
                    &-input {
                        width: 100%;
                        height: 100%;
                        padding: 18px 30px;
                        font: 500 16px/21px "DM Sans", sans-serif;
                    }
                    &-img {
                        right: 25px;
                        width: 24px;
                        height: 24px;
                    }
                }
                &-box {
                    display: none;
                    column-gap: 0.93vw;
                    &-price {
                        background: rgba(220, 220, 220, 0.5);
                        border-radius: 100px;
                        font: 700 0.83vw/0.79vw "DM Sans";
                        padding: 0.93vw 1.39vw;
                        display: flex;
                        align-items: center;
                        column-gap: 0.46vw;
                        transition: all 0.2s;
                        img {
                            width: 0.8vw;
                        }
                        &:hover {
                            opacity: 0.75;
                        }
                    }
                    &-add {
                        color: #fff;
                        font: 700 0.93vw/100% "Montserrat";
                        padding: 0.88vw 4.63vw;
                        text-transform: uppercase;
                        background: linear-gradient(
                                90deg,
                                var(--c1, #004d8c),
                                var(--c2, #0088cc) 51%,
                                var(--c1, #004d8c)
                            )
                            var(--x, 0) / 200%;
                        --с1: #004d8c;
                        --c2: #0088cc;
                        border-radius: 60px;
                        transition: all 0.2s;
                        &:hover {
                            --x: 100%;
                        }
                    }
                }
                &-boxMobile {
                    display: flex;
                    justify-content: space-between;
                    column-gap: 16px;
                    button {
                        position: relative;
                        font: 700 18px/17px "DM Sans";
                        padding: 15px 40px;
                        background: rgba(220, 220, 220, 0.5);
                        border-radius: 100px;
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                    }
                }
            }
            &-items {
                gap: 20px;
                justify-content: center;
                .simpleCard {
                    border-radius: 13px;
                    width: 343px;
                    padding: 23px;
                    &__photo {
                        margin-bottom: 20px;
                        width: 297px;
                    }
                    &__info {
                        display: flex;
                        justify-content: space-between;
                        &-left {
                            &-title {
                                font: 700 24px/19px "DM Sans";
                                margin-bottom: 25px;
                            }
                            &-price {
                                font: 700 18px/23px "DM Sans";
                                img {
                                    padding-right: 0px;
                                    margin-right: 5px;
                                    width: 23px;
                                    height: 23px;
                                    margin-bottom: 1px;
                                }
                            }
                        }
                        &-right {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-end;
                            &-user {
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                &-name {
                                    font: 500 14px/18px "DM Sans";
                                    margin-left: 10px;
                                }
                                &-avatar {
                                    width: 28px;
                                    height: 28px;
                                }
                            }
                            &-count {
                                font: 500 16px/100% "DM Sans";
                                color: #838383;
                            }
                        }
                    }
                    &__menuEmoji {
                        transition: all 0.2s;
                        position: absolute;
                        left: 0;
                        bottom: -50px;
                        z-index: 999;
                        background: #ffffff;
                        border-radius: 100px 100px 20px 0px;
                        font-size: 24px !important;
                        padding: 12px !important;
                        opacity: 0;
                        pointer-events: none;
                        &-item {
                            & + & {
                                margin-top: 0.78vw;
                            }
                        }
                    }
                }
                .collectionCard {
                    width: 343px !important;
                    &__emoji {
                        position: absolute;
                        top: 16px;
                        right: 16px;
                        display: flex;
                        column-gap: 5px;
                        &-item {
                            &-light,
                            &-dark {
                                width: 22px;
                                text-align: center;
                                border-radius: 100px;
                                padding: 2px 0;
                                font-size: 12px;
                                span {
                                    margin-top: 0.1vw;
                                    display: block;
                                    color: #000;
                                    font-family: "DM Sans";
                                    font-weight: 400;
                                    line-height: 100%;
                                    letter-spacing: -0.03em;
                                }
                            }
                        }
                    }
                    &__img {
                        width: 343px !important;
                    }
                    &__tag {
                        left: 16px !important;
                        top: 16px !important;
                        padding: 10px !important;
                        &-text {
                            font-size: 14px !important;
                        }
                    }
                    &__info {
                        height: 70px !important;
                        bottom: 16px !important;
                        left: 16px !important;
                        right: 16px !important;
                        &-text {
                            font-size: 24px !important;
                            padding: 25px !important;
                        }
                    }
                    &__menuEmoji {
                        transition: all 0.2s;
                        position: absolute;
                        left: 0;
                        bottom: -50px;
                        z-index: 999;
                        background: #ffffff;
                        border-radius: 100px 100px 20px 0px;
                        font-size: 24px !important;
                        padding: 12px !important;
                        opacity: 0;
                        pointer-events: none;
                        &-item {
                            & + & {
                                margin-top: 0.78vw !important;
                            }
                        }
                    }
                }
            }
        }
    }
}