.footer {
    color: #fff;
    padding: 2.78vw 2.87vw 1.57vw 2.87vw;
    &__info {
        display: flex;
        justify-content: space-between;
        &-about {
            img {
                width: 11.06vw;
            }
            &-text {
                font: 400 0.83vw/160% "Montserrat";
                max-width: 21.53vw;
                margin-top: 0.79vw;
            }
        }
        &-box {
            display: flex;
            width: 27.59vw;
            justify-content: space-between;
            &-list {
                font: 500 0.87vw/200% "DM Sans";
                &-title {
                    font: 700 0.93vw/1.2vw "DM Sans";
                    margin-bottom: 0.97vw;
                }
                &-item {
                    color: rgba(255, 255, 255, 0.85);
                    a {
                        transition: all 0.2s;
                        &:hover {
                            color: #27d6ff;
                        }
                    }
                }
            }
        }
        &-social {
            font: 700 0.88vw/1.06vw "DM Sans";
            &-title {
                margin-bottom: 1.3vw;
            }
            &-items {
                display: flex;
                column-gap: 0.46vw;
                max-height: 2.31vw;
                a {
                    img {
                        width: 2.31vw;
                    }
                    transition: all 0.2s;
                    &:hover {
                        filter: brightness(125%);
                    }
                }
            }
        }
    }
    &__copyright {
        font: 400 0.65vw/0.83vw "DM Sans";
        margin-top: 2.36vw;
        text-align: center;
    }
}

@media(max-width: 768px) {
    .footer {
        color: #fff;
        padding: 60px 28px 28px 28px;
        &__info {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 50px;
            &-about {
                text-align: center;
                img {
                    width: 215px;
                }
                &-text {
                    margin: 0 auto;
                    font: 400 18px/29px "Montserrat";
                    max-width: 91.47vw;
                    margin-top: 20px;
                }
            }
            &-box {
                display: flex;
                width: unset;
                justify-content: center;
                column-gap: 65px;
                &-list {
                    font: 500 18px/36px "DM Sans";
                    &-title {
                        font: 700 20px/26px "DM Sans";
                        margin-bottom: 20px;
                    }
                }
            }
            &-social {
                text-align: center;
                font: 700 18px/23px "DM Sans";
                &-title {
                    margin-bottom: 28px;
                }
                &-items {
                    justify-content: center;
                    display: flex;
                    column-gap: 10px;
                    max-height: unset;
                    a {
                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }
        &__copyright {
            font: 400 14px/18px "DM Sans";
            margin-top: 50px;
        }
    }
}