.footer {
    color: #fff;
    padding: 60px 62px 34px 62px;
    &__info {
        display: flex;
        justify-content: space-between;
        &-about {
            &-text {
                font: 400 18px/160% "Montserrat";
                max-width: 465px;
                margin-top: 17px;
            }
        }
        &-box {
            display: flex;
            width: 596px;
            justify-content: space-between;
            &-list {
                font: 500 18px/200% "DM Sans";
                &-title {
                    font: 700 20px/26px "DM Sans";
                    margin-bottom: 21px;
                }
                &-item {
                    color: rgba(255, 255, 255, 0.85);
                    a {
                        transition: all 0.2s;
                        &:hover {
                            color: #27d6ff;
                        }
                    }
                }
            }
        }
        &-social {
            font: 700 18px/23px "DM Sans";
            &-title {
                margin-bottom: 28px;
            }
            &-items {
                display: flex;
                column-gap: 10px;
                max-height: 50px;
                a {
                    transition: all 0.2s;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    &__copyright {
        font: 400 14px/18px "DM Sans";
        margin-top: 51px;
        text-align: center;
    }
}

@media (max-width: 1920px) {
    .footer__info-box {
        width: 465px;
    }
}

@media (max-width: 1640px) {
    .footer__info-box {
        width: 380px;
    }
}

@media (min-width: 1296px) and (max-width: 1440px) {
    .footer {
        padding: 50px 40px 28px 40px;
        &__info {
            &-about {
                &-text {
                    font-size: 16px;
                    padding-right: 30px;
                }
            }
            &-box {
                width: 360px;
            }
            &-social {
                max-width: 150px;
                text-align: right;
                &-items {
                    flex-wrap: wrap;
                    gap: 4px 10px;
                    justify-content: flex-end;
                    a {
                        img {
                            width: 36px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1295px) {
    .footer {
        padding: 50px 35px 30px 35px;
        &__info {
            &-about {
                img {
                    width: 200px;
                }
                &-text {
                    font-size: 14px;
                    padding-right: 30px;
                }
            }
            &-box {
                &-list {
                    &-title {
                        font-size: 18px;
                        margin-bottom: 12px;
                    }
                    &-item {
                        font-size: 15px;
                    }
                }
            }
            &-social {
                max-width: 150px;
                text-align: right;
                &-items {
                    flex-wrap: wrap;
                    gap: 4px 10px;
                    justify-content: flex-end;
                    a {
                        img {
                            width: 32px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 63px 45px 35px 45px;
        &__info {
            flex-direction: column;
            justify-content: unset;
            &-about {
                text-align: center;
                img {
                    width: 215px;
                    height: 53px;
                }
                &-text {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            &-box {
                width: unset;
                margin: 53px 0 51px;
                width: 360px;
                margin-left: auto;
                margin-right: auto;
            }
            &-social {
                display: flex;
                align-items: center;
                flex-direction: column;
                &-title {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .footer {
        padding: 63px 28px 27px 28px;
        &__info {
            &-box {
                width: 100%;
                justify-content: space-between;
            }
        }
    }
}