*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    user-select: none;
}

body {
    position: relative;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input {
    bottom: none;
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

.slick-slide > div {
    margin: 0 10px;
    margin-left: 0;
}

.slick-list {
    margin: 0 -10px;
    margin-left: 0;
    padding: 47px 0;
    // padding:0 20% 0 0 !important;
}

.slick-slide {
    // min-width: 270px !important;
}

.slick-slider {
    position: relative;
    z-index: 999;
}